@import '~bootstrap/scss/bootstrap';

#site_header{
    height: 20vh;
    background-color: turquoise;
    border:1px solid black;
    display: flex;
    flex-direction: column;
    >h1{
        text-align: center;
    }
    >.navbar{
        background-color: rgba($color: black, $alpha: 0.4);
        width:30%;
        margin:0 auto;
        border-radius: 10px;
        >a{
            color:white;
            transition: 1s;
            &:hover{
                color:black;
            }
        }
    }
};
#site_main{
    height: calc(100vh - 20vh - 20vh);
    overflow-y: auto;
    background-image: url(../img/jumbotron.jpg);
    background-size: cover;
}
.card{
    overflow-y: auto;
    height: 400px;
    &:hover{
        background-color: black;
        color: white;
        scrollbar-color:  white black;
        scroll-behavior: smooth;
        scrollbar-width: thin;
    }
}
#site_footer{
    height: 20vh;
    background-color: rgb(0, 0, 115);
    border: 1px solid black;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    >.unordered-list{
        list-style-type: none;
        font-size: 0.8rem;
        margin-top: 1rem;
        >li{
            >a{
                color: white;
                text-decoration: none;
                &:hover{
                    color: gray;
                }
            }
            >h6{
                color: white;
                text-decoration: underline;
                
            }
            >img{
                filter:brightness(50%) ;
                &:hover{
                filter: brightness(100%);
                }
            }
        }
    }
    >div{
        width: 100px;
        height: 100px;
        >img{
            width: 100%;
            height: 100%;
        }
        >p{
            color: white;
        }
    }
}


// UTILITIES

.nav-active{
    font-size: 1.2rem;
    color: black !important;
}
.bg-op{
    opacity: 80%;
}
// WELCOME MESSAGE ANIMATED
.alert_message{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    animation: scrollTitle 1s alternate infinite;
}

@keyframes scrollTitle {
    0% {
        top: 0px;
        font-size: 5rem;
        width: 100%;
    }

    100% {
        font-size: 1rem;
        top: 100%;
    }
}

//MINIGAMES ANIMATED
.container-mg {
    width: 350px;
    height: 350px;
    position: relative;
    border: 2px solid black;
    overflow: hidden;
    background-color: black;
    border: 1px solid red;
}

.sphere-mg {
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%, 100% {
        transform: translate(-50%, -50%);
        background-color: pink;
    }

    25% {
        transform: translate(-50%, -50%) translateY(-190px);
        background-color: red;
    }

    50% {
        transform: translate(-50%, -50%);
        background-color: yellow;
    }

    75% {
        transform: translate(-50%, -50%) translateY(190px);
        background-color: green;
    }
}

.container-mg:hover .sphere-mg {
    background-color: blue;
}